<!-- Handlebars Template: wbSettings.hbs -->
<form>
    <p>This process will create the necessary folders and compendiums for the World Builder module.</p>
    <p>Click the <strong>Submit</strong> button below to proceed.</p>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-folder-plus"></i> Create Folders & Compendiums
        </button>
    </div>
</form>
